/* ==== general ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100svh;
  background: #d0eaff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 90%;
  max-width: 750px;
  display: flex;
}

/* ==== left side ==== */

.gallery {
  flex-basis: 47%;
  background: #241e20;
  transform: scale(1.08);
  border-radius: 10px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  /* border-radius: 10px 0 0 10px; */
}

.gallery img {
  width: 100%;
  display: block;
  padding-top: 100px;
}

.controls {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.btn {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  cursor: pointer;
}

.btn.active {
  background: #553ff0;
}

/* ==== right side ==== */

.details {
  flex-basis: 53%;
  background: #fff;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 500;
  color: #777;
  border-radius: 0 10px 10px 0;
}

.details h1 {
  color: #333;
  font-size: 35px;
}

.details h2 {
  color: #555;
  font-size: 30px;
  font-weight: 600;
}

.details h3 {
  color: #00d874;
  margin-bottom: 20px;
}

.form {
  font-size: 15px;
  font-weight: 400;
}

.size-select {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.size-select p {
  width: 70px;
}

.size-select input:checked + span {
  color: blue;
  font-weight: 600;
}

.size-select input {
  display: none;
}

.size-select span {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.color-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color-select p {
  width: 70px;
}

.color-select span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.color-1 {
  background-color: red;
}
.color-2 {
  background-color: #00d874;
}
.color-3 {
  background-color: blue;
}
.color-4 {
  background-color: pink;
}

.color-select input {
  display: none;
}

.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}

.quantity-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantity-select p {
  width: 75px;
}

.quantity-select input {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 2px 2px 2px 15px;
  width: 60px;
  border-radius: 10px;
}

.form button {
  background-color: #553ff0;
  color: #fff;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  cursor: pointer;
  transition: 0.5s;
}

.form button:hover {
  filter: brightness(1.3);
}
