* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  min-height: 100svh;
  background: url(images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 7rem;
  position: relative;
}

header img {
  width: 150px;
}

.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.hero .subtitle {
    color: #ddd;
}

.hero h1 {
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero h1 span {
    color: #ff3753;
}

.launch-time {
    display: flex;
    gap: 1rem;
}

.launch-time div {
    flex-basis:100%;
}

.launch-time div p {
    font-size: 60px;
}

.launch-time div span {
    align-self: center;
    text-transform: capitalize;
    margin-left: 10px;
}

.hero button { 
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: capitalize;
}

.hero button:hover,
.hero button:active {
    border-radius: 25px;
    background-color: #ffffff34;
}

.rocket {
    position: absolute;
    width: 250px;
    right: 20%;
    bottom: 0;
    animation: launch 4s linear infinite;
}

@keyframes launch {
from { 
    opacity: 0;
    bottom: 0;
}
to {
    opacity: 1;
    bottom: 105%;
}
}

@media (width < 425px) {

    .container {
        padding: 1rem;
        text-align: center;
    }

    header img {
        width: 120px;
    }

    .hero {
        width: 90%;
    }

    .hero h1 {
        font-size: 35px;
        margin: 1rem 0;
    }

    .launch-time p {
        font-size: 40px;
    }

    .hero button { 
        margin-top: 3rem;
    }

    .rocket {
        right: 1%;
    }
}