@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ad56ff, #7db1ff);
    background-size: cover;
    color: #fff;
    padding: 4% 10% 0 10%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container h1 img{
    width: 50px;
}

.container button img{
    width: 20px;
    margin-right: 8px;
}

.container button{
    display: flex;
    align-items: center;
    background-color: #571094;
    box-shadow: 0px 0px 20px #571094;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 30px;
    margin: 30px 0 20px 10px;
    cursor: pointer;
    transition: .5s;
}

.container button:hover{
    background-color: #222;
}

.input-box{
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    box-shadow: 0px 0px 20px #571094;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 10px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}